.rounded-20{
    border-radius: 20px;
}
.text-main{
    color:#231D4F;
}
.bg-footer{
    background-color: #0B0D17;
}
.bestChoice{
    top:0;
    right:0px;
}
.offer{
    position: absolute;
    right:0;
   
}